header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: black;
    padding: 0 20px;
}

.logo, .favoritos {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.logo {
    font-size: 24px;
    color: #fff;
}

.favoritos {
    color: #333;
    background-color: #fff;
}

.favoritos:hover {
    background-color: #ddd;
}
